checkpoints/
**/*.pt
**/*.pth
**.log
**/__pycache__
**/.cpython-311.pyc
**/.egg-info/top_level.txt

**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.swp
**/*.swo
**/*.bak
**/*.tmp
**/*.orig
**/*.DS_Store
**/*.ipynb_checkpoints
.env
.vscode/
.idea/
__pycache__/
**/*.egg-info/
dist/
build/
**/*.egg
**/*.manifest
**/*.spec
**/*.log
**/*.coverage
.coverage.*
.cache/
.tox/
.pytest_cache/
htmlcov/
.mypy_cache/
.pyre/
.pytype/

output/*
examples/runs
third_party/*
tests/detections/**